# Big Data & Cloud Computing

## 2nd Practical Assignment

In [1]:
import dask.dataframe as dd
import numpy as np

In [2]:
df = dd.read_csv('EVENTS.csv', assume_missing=True)
df = df.replace({
    np.nan: ' '
})

In [3]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788.0,36.0,165660.0,241249.0,223834.0,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,15.00,15.00,L/min,0.0,0.0,,
1,789.0,36.0,165660.0,241249.0,223835.0,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,100.00,100.00,,0.0,0.0,,
2,790.0,36.0,165660.0,241249.0,224328.0,2134-05-12 12:00:00,2134-05-12 12:18:00,20823.0,0.37,0.37,,0.0,0.0,,
3,791.0,36.0,165660.0,241249.0,224329.0,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,6.00,6.00,min,0.0,0.0,,
4,792.0,36.0,165660.0,241249.0,224330.0,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,2.50,2.50,,0.0,0.0,,