# Big Data & Cloud Computing

## 2nd Practical Assignment

In [16]:
import dask.dataframe as dd
import numpy as np
import os

In [17]:
filename = os.path.join('data', 'EVENTS.csv')

In [18]:
df = dd.read_csv(filename, assume_missing=True)
df = df.replace({
    np.nan: ' '
})

In [19]:
df.head(15)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788.0,36.0,165660.0,241249.0,223834.0,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,15.00,15.00,L/min,0.0,0.0,,
1,789.0,36.0,165660.0,241249.0,223835.0,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,100.00,100.00,,0.0,0.0,,
2,790.0,36.0,165660.0,241249.0,224328.0,2134-05-12 12:00:00,2134-05-12 12:18:00,20823.0,0.37,0.37,,0.0,0.0,,
3,791.0,36.0,165660.0,241249.0,224329.0,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,6.00,6.00,min,0.0,0.0,,
4,792.0,36.0,165660.0,241249.0,224330.0,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,2.50,2.50,,0.0,0.0,,
5,793.0,36.0,165660.0,241249.0,224331.0,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,0.00,0.00,ml/hr,0.0,0.0,,
6,794.0,36.0,165660.0,241249.0,224332.0,2134-05-12 12:00:00,2134-05-12 14:44:00,17525.0,3.00,3.00,,0.0,0.0,,
7,795.0,36.0,165660.0,241249.0,224663.0,2134-05-12 12:00:00,2134-05-12 14:44:00,17525.0,8.00,8.00,,0.0,0.0,,
8,796.0,36.0,165660.0,241249.0,224665.0,2134-05-12 12:00:00,2134-05-12 14:44:00,17525.0,1.11,1.11,,0.0,0.0,,
9,797.0,36.0,165660.0,241249.0,220224.0,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,58.00,58.00,mmHg,1.0,0.0,,
10,798.0,36.0,165660.0,241249.0,220235.0,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,60.00,60.00,mmHg,1.0,0.0,,
11,799.0,36.0,165660.0,241249.0,223830.0,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,7.29,7.29,units,1.0,0.0,,
12,800.0,36.0,165660.0,241249.0,224828.0,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,0.00,0.00,mEq/L,0.0,0.0,,
13,801.0,36.0,165660.0,241249.0,225668.0,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,1.00,1.00,mmol/L,0.0,0.0,,
14,802.0,36.0,165660.0,241249.0,225698.0,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,30.00,30.00,mEq/L,0.0,0.0,,